

body{
    background:white;   
}

.container{
    margin-top: 50px;
}

.row{
    background-color: rgba(0, 238, 255, .1);
    }

.theFirst{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.theLast{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.indexContent{
    padding-bottom: 5%;
}

p {
    font-size: 1.1em;
}

.linkBtn{
    color: darkblue;
}








body{
    background: white;
}

.container{
    margin-top: 50px;
}
.row{
    background: white;
    text-align: center;
    }


p {
    font-size: 1.3em;
    text-align: center;
}

#little{
    font-size: 1em;
}

a {
    color: black;
}



/* @media screen and (max-width:1700px){


    body{
        background-image: url(../Assets/pinstripe.png)
    }

    .container{
        margin-top: 50px;
        background: rgba(128,128,128,0.2);
        border-radius: 10px;
    }

    .row{
        background: rgba(1,1,1,0);
        }

    .footer{
        background: rgba(1,1,1,0);
        margin-top: 5%;
        text-align: center;
    }

    .circleInitial{
        background-image: url(../Assets/hydrangea.jpg);
        width: 250px;
        height: 250px;
        
        border-radius: 50%;
        color: white;
        font-size: 3.2em;
        line-height: 85%;
        margin-top: 16%;
        margin-left: 15%;
    }

    #circleName{
        padding-top: 28%;
        padding-left: 5%;
        text-align: center;
    }

    .menu{
        text-align: center;
        margin-left: 27%;
        padding-bottom: 8%;
        background: rgba(1,1,1,0);
    }
    
    .nav-item{
        padding-top: 4%;
        font-size: 1.5em;
        color: black;
        background: rgba(1,1,1,0);
    }
    
    .contactForm{
        margin-top: 8%;
        background: rgba(1,1,1,0);
    }
}

@media screen and (max-width:1045px){

    .circleInitial{
        margin-left: 8%;
    }

    .menu{
        text-align: center;
        margin-left: 20%;
    }

    .contactForm{
        margin-top: 10%;
    }
}

@media screen and (max-width:770px){

    .circleInitial{
        margin-left: 7%;
    }
        
    .menu{
        text-align: center;
        margin-left: 27%;
    }
}
    

@media screen and (max-width:430px){

    .circleInitial{
        margin-left: 33%
    }
}

@media screen and (max-width:380px){

    .circleInitial{
        margin-left: 24%
    }
}

@media screen and (max-width:320px){

    .circleInitial{
        margin-left: 14%;
    }
} */


.stickHeader{
    position: fixed;
    z-index: 2;
    width: 100vw;
    text-align: center;
    background-color: deeppink
}

.nav-link{
    display: inline-block;
    
}

#name{
    color: white;
    /* font-family: 'Shrikhand', cursive; */
/* font-family: 'Pacifico', cursive; */
/* font-family: 'BioRhyme Expanded', serif; */
/* font-family: 'Homemade Apple', cursive; */

/* font-family: 'Bungee Shade', cursive; */
font-family: 'League Script', cursive;
/* font-family: 'Dr Sugiyama', cursive; */
/* font-family: 'Mr Bedfort', cursive; */
font-weight: bolder;
}

#homepage{
    width: 1700px;
    height: 800px;
}

.frontImage{
    position: relative;
    margin-left: 18%;
    margin-top: 8%;
}

#index{
    background-color: deeppink;
    background-repeat: none;
    height: 785px;
}

#zoey{
    background-color: #00c8ff;
    height: 785px;
}

.zoBox{
    background-color: rgba(300, 300, 300, .4);
}

.dogPics{
    position: relative;
    padding-left: 10%;
}

.theFirst{
    background-color: rgba(1,1,1,.0)
}

.indexContent{
    background-color: rgba(1,1,1,.0)
}

.carousel-item{
    height: 550px;
}

#projectCarousel{
    position: relative;
    width: 80%;
    margin-left: 10.5%;
}

.dogPic{
    display: inline-block;
    height: 300px;
    width: 300px;
}

.pic1{
    height: 300px;
    width: 300px;
    background-color: #00c0f5;
}

.pic2{
    height: 300px;
    width: 300px;
    background-color: #7ae2ff;
}

.pic3{
    height: 300px;
    width: 300px;
    background-color: #00aede;
}

.pic4{
    height: 300px;
    width: 300px;
    background-color: #7adefa;
}

.pic5{
    height: 300px;
    width: 300px;
    background-color: #43c4e8;
}

.pic6{
    height: 300px;
    width: 300px;
    background-color: #00c0f5;
}

.contactForm{
    margin-top: 10%;

}
.form-group{
    text-align: right;
}

#p1{
    font-size: 2.5em;
}
#also{
    font-size: 4em;
}
#imA{
    font-size: 3em;
}

.letter{
    display: inline-block;
    font-size: 1em;
}

#contact{
    height: 785px;
    background-image: url(images/purpleCrystal.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#portfolio{
    height: 785px;
    background-image: url(images/bluebonnet.png);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}

.contactDiv{
    position: relative;
    height: 600px;
    margin-top: 10%;
    background-color: rgba(300,300,300,.2)
}